{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4 ">Notre catalogue:</h1>

		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		{% if programs is not empty %}
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for program in programs %}
					<div class="col">
						<div class="card h-100">
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
							{% endif %}
							{% if program.poster %}
								<img src="{{ vich_uploader_asset(program) }}" class="card-img-top" alt="{{ program.title }}">
							{% else %}
								<img src="{{ asset('uploads/images/default-poster.png') }}" class="card-img-top" alt="{{ program.title }}">
							{% endif %}
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">{{ program.title }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Catégorie:
									{{ program.category.name }}</h6>
								<p class="card-text flex-grow-1">{{ program.synopsis }}</p>
								<a href="{{ path('program_show', { slug: program.slug }) }}" class="btn btn-primary mt-auto">
									Voir la fiche
									<div class="circle-icon d-inline-flex justify-content-center align-items-center rounded-circle">
										<i class="bi bi-play"></i>
									</div>
								</a>


							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p class="mt-4">Aucune série trouvée.</p>
		{% endif %}

		<a href="{{ path('app_index') }}" class="btn btn-outline-primary">
			<i class="bi bi-skip-backward-fill"></i>Retour à l'accueil</a>
	</div>
{% endblock %}
