{% extends 'base.html.twig' %}

{% block title %}Série  { id: program.id }{% endblock %}

{% block body %}
<div class="container">
    <article class="my-4">
        <h1>{{ program.title }}</h1>
        <p>{{ program.synopsis }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
    </article>

    <h2 class="mt-4">Seasons</h2>
    <ul class="list-unstyled">
        {% for season in program.seasons %}
            <li class="my-2">
                <a href="{{ path('program_show_season', { programId: program.id, seasonId: season.id }) }}" class="text-decoration-none">
                    <span class="badge bg-primary me-2">Season {{ season.number }}</span> ({{ season.year }})
                </a>
               
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('program_index') }}" class="btn btn-secondary mt-3">
        Retour à la liste des programmes
    </a>
</div>
{% endblock %}
