{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Mon Profil</h1>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Informations personnelles</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Email :</strong>
						{{ user.email }}</li>
					<li class="list-group-item">
						<strong>Nom :</strong>
						{{ user.lastname }}</li>
					<li class="list-group-item">
						<strong>Prénom :</strong>
						{{ user.firstname }}</li>
					<li class="list-group-item">
						<strong>Biographie :</strong>
						{{ user.biography }}</li>
					<li class="list-group-item">
						<strong>Avatar :</strong>
						<img src="{{ user.avatar }}" alt="Avatar" class="img-fluid rounded"></li>
				</ul>
				<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary mt-3">Modifier</a>
			</div>
		</div>
	</div>
{% endblock %}
